PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/mess_management
JWT_SECRET=change-this-to-a-long-random-secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:3000
CLIENT_URLS=https://mess-manager-client-nine.vercel.app
NODE_ENV=development
